#container {
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange children in a row */
}
.child{
    width: 300px;
    margin-right: 10px;
}
#urlList {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Arrange children in a row */
}
#changes {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Arrange children in a row */
}