.header{
    text-align: center;
}
.settings{
    /* margin: auto; */
    justify-content: center;
    text-align: center;
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange children in a row */
}
#container {
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange children in a row */
}
.child{
    text-align: center;
    width: 50%;
    margin-right: 10px;
}
#urlList {
    
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Arrange children in a row */
}
#list {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Arrange children in a row */
}
.links {
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange children in a row */
}
#center{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}