.header{
    text-align: center;
}
#container {
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange children in a row */
}
.child{
    text-align: center;
    width: 50%;
    margin-right: 10px;
}
#urlList {
    
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Arrange children in a row */
}
#list {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Arrange children in a row */
}
.links {
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange children in a row */
}
.components{

}